.feed {
  &__item {
    margin-bottom: calc(var(--typographic-leading) * 1.25);

    &:last-child {
      margin-bottom: calc(var(--typographic-leading) * 0.5);
    }

    &-title {
      font-size: calc(var(--typographic-base-font-size) * 1.6875);
      line-height: calc(1.5 * var(--typographic-leading));
      margin-top: 0;
      margin-bottom: calc(var(--typographic-leading) * 0.5);

      &-link {
        color: var(--color-base);

        &:hover,
        &:focus {
          color: var(--color-base);
          border-bottom: 1px solid var(--color-base);
        }
      }
    }

    &-description {
      font-size: var(--typographic-base-font-size);
      line-height: var(--typographic-leading);
      margin-bottom: calc(var(--typographic-leading) * 0.75);
    }

    &-meta {
      &-time {
        font-size: var(--typographic-small-font-size);
        color: var(--color-base);
        font-weight: 600;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-category {
        &-link {
          font-size: var(--typographic-small-font-size);
          color: var(--color-secondary);
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: var(--color-primary);
          }
        }
      }
    }

    &-readmore {
      font-size: var(--typographic-base-font-size);
      color: var(--color-primary);

      &:hover,
      &:focus {
        color: var(--color-primary);
        border-bottom: 1px solid var(--color-primary);
      }
    }
  }
}
