/**
 * Variables
 */

:root {
  // Buttons
  --button-height: 35px;
  --button-border-radius: 20px;

  // Layout
  --layout-post-single-width: 945px;
  --layout-post-width: calc(var(--layout-post-single-width) - 305px);

  --layout-width: 1070px;

  // Colors
  --color-base: #222;
  --color-primary: #5e35b1;
  --color-primary-rgb: 94, 53, 177;
  --color-secondary: #9162e4;

  --color-white: #fff;
  --color-gray: #888; // color-base 40%
  --color-gray-border: #e6e6e6; // color-base 77%
  --color-gray-bg: #ebebeb; // color-base 79%

  // Typographic
  --typographic-font-family: 'w95', 'MS Sans Serif', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;

  --typographic-root-font-size: 100;
  --typographic-base-font-size: 16px;
  --typographic-small-font-size: 14px;

  --typographic-base-line-height: 1.625;

  --typographic-base-font-color: var(--color-base);
  --typographic-link-p-font-color: var(--color-primary);
  --typographic-link-s-font-color: var(--color-secondary);

  --typographic-leading: calc(16 * var(--typographic-base-line-height) * 1px);
}
