.comments {
  &__body {
    color: var(--color-base);
    line-height: var(--typographic-base-line-height);

    p {
      margin-top: 0;
      margin-bottom: 0;
    }

    code {
      background-color: rgba(27, 31, 35, 0.05);
      padding: 0.2em 0.4em;
      font-family: var(--typographic-font-family-monospace);
      font-size: 85%;
    }

    pre {
      background-color: #f6f8fa;
      padding: 16px;
      overflow-x: auto;
      margin: 12px 0;

      code {
        background-color: transparent;
        padding: 0;
        font-size: 12px;
      }
    }

    a {
      color: var(--color-primary);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      margin: 12px 0;
    }
  }
}

.reactions {
  &__button,
  &__button:active {
    padding: 4px 6px;
  }
}

.avatar {
  display: inline-flex;
}