.author {
  &__photo {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box;
  }

  &__title {
    font-size: calc(var(--typographic-base-font-size) * 1.125);
    font-weight: 600;
    line-height: calc(1.125 * var(--typographic-leading));
    margin-top: 0;
    margin-bottom: 0;

    &-link {
      color: var(--color-base);

      &:hover,
      &:focus {
        color: var(--color-base);
      }
    }
  }

  &__subtitle {
    color: var(--color-gray);
    line-height: var(--typographic-leading);
    margin-top: 0;
    margin-bottom: 0;
  }

  &__info {
    display: inline-flex;
    gap: 12px;
  }
}

@media screen and (min-width: 960px) {
  .author {
    &__photo {
      margin-right: var(--space-2);
    }

    &__subtitle {
      margin-bottom: var(--typographic-leading);
    }


    &__info {
      display: block;
    }

    &__title {
      margin-top: calc(var(--typographic-leading) * 0.5);
      margin-bottom: calc(var(--typographic-leading) * 0.5);
    }
  }
}