.author {
  &__photo {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box;
  }

  &__title {
    font-size: calc(var(--typographic-base-font-size) * 1.125);
    font-weight: 600;
    line-height: calc(1.125 * var(--typographic-leading));
    margin-top: calc(var(--typographic-leading) * 0.5);
    margin-bottom: calc(var(--typographic-leading) * 0.5);

    &-link {
      color: var(--color-base);

      &:hover,
      &:focus {
        color: var(--color-base);
      }
    }
  }

  &__subtitle {
    color: var(--color-gray);
    line-height: var(--typographic-leading);
    margin-bottom: var(--typographic-leading);
  }
}
