.sidebar {
  width: 100%;

  &__inner {
    position: relative;
    padding: 25px 20px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__language-switcher {
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 1;
  }

  &__inner {
    &:after {
      background: var(--color-gray-border);
      background: linear-gradient(
        to right,
        var(--color-gray-border) 0%,
        var(--color-gray-border) 48%,
        var(--color-white) 100%
      );
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      opacity: 0.2;
    }
  }
}

@media screen and (min-width: 960px) {
  .sidebar {
    width: 33.333%;

    &__inner {
      padding: 40px;

      &:after {
        background: var(--color-gray-border);
        background: linear-gradient(
          to bottom,
          var(--color-gray-border) 0%,
          var(--color-gray-border) 48%,
          var(--color-white) 100%
        );
        position: absolute;
        content: '';
        width: 1px;
        height: 540px;
        top: 30px;
        right: -10px;
        bottom: 0;
        opacity: 0.2;
      }
    }

    &__language-switcher {
      top: 40px;
      right: 40px;
    }

    &__content {
      display: block;
    }
  }
}
