.page {
  margin-bottom: calc(var(--typographic-leading) * 2);

  &__inner {
    padding: 25px 20px;
  }

  &__title {
    font-size: calc(var(--typographic-base-font-size) * 2.5);
    font-weight: 600;
    line-height: calc(2 * var(--typographic-leading));
    margin-top: 0;
    margin-bottom: calc(var(--typographic-leading) * 1.45);
  }

  &__body {
    font-size: var(--typographic-base-font-size);
    line-height: var(--typographic-leading);
    margin-bottom: var(--typographic-leading);
  }
}

@media screen and (min-width: 685px) {
  .page {
    lost-column: 7/12;

    &__inner {
      padding: 30px 20px;
    }
  }
}

@media screen and (min-width: 960px) {
  .page {
    lost-column: 2/3;

    &__inner {
      padding: 40px 35px;
    }
  }
}
