.post {
  &__footer {
    max-width: var(--layout-post-width);
    margin: 0 auto;
    padding: 0 4px;
  }

  &__comments {
    max-width: var(--layout-post-width);
    margin: 0 auto;
    padding: 0 15px;
  }

  &__home-button {
    display: block;
    max-width: 160px;
    height: var(--button-height);
    padding: 0 24px;
    line-height: var(--button-height);
    text-align: center;
    color: var(--color-base);
    border: 1px solid var(--color-gray-border);
    border-radius: var(--button-border-radius);
    font-size: var(--typographic-base-font-size);
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--typographic-leading);

    &:hover,
    &:focus {
      color: var(--color-primary);
    }
  }
}

@media screen and (min-width: 960px) {
  .post {
    &__footer {
      padding: 0;
    }

    &__comments {
      padding: 0;
    }

    &__home-button {
      position: fixed;
      max-width: auto;
      margin: 0;
      top: 30px;
      left: 30px;
    }
  }
}
